@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --subText: #4a5565;
  --hint: #9098a4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-subText: var(--subText);
  --color-hint: var(--hint);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --subText: #a0a8b4;
    --hint: #646e7e;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  z-index: 50;
  cursor: pointer;

  /* 轉場動畫設定 */
  transition: transform 0.2s ease, background-color 0.2s ease;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(0.95);
}

.swiper-button-prev,
.swiper-button-next {
  width: 20px !important;
  height: 20px !important;
  color: var(--subText) !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 12px !important; /* 控制箭頭大小 */
}

.custom-swiper-pagination {
  position: relative !important; /* 確保它是相對定位或靜態定位 */
  bottom: auto !important;
  top: auto !important;
  transform: none !important;
}
